<%- include("partials/header.ejs") %>


<a class="btn btn-dark btn-lg" href="/add"> + books</a>


<h1 class="">Books I read, Summarized for you!!</h1>
 
<% books.forEach(function(book){  %>

    
    <div class="card mb-4" style="max-width: 2000px;">
        <div class="row g-0">
          <div class="col-lg-4">
            <img src="https://covers.openlibrary.org/b/isbn/<%= book.isbn %>-L.jpg" alt="img">
          </div>
          <div class="col-lg-8">
            <div class="card-body">
              <h2 class="card-title"><%= book.title %></h5>
              <p class="card-text"><b> Book Summary:</b> <%= book.summary %></p>
              <p class="card-text"> <b>Author: </b> <%= book.author %></p> 
              <p class="card-text"> <b>Id: </b> <%= book._id %></p>
              <p class="card-text"> <b>Isbn: </b> <%= book.isbn %></p>
              <a class="btn btn-secondary" href="/edit/<%= book._id %>">Edit</a> <a class="btn btn-outline-dark" href="/delete/<%= book._id %>">Delete</a>
   
           
            </div>
          </div>
        </div>
      </div>

      <% }); %>




<%- include("partials/footer.ejs") %>